.ForecastStructure {
    color:#272142;
    font-size: 18px;
    line-height: 28px;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #ffffcc;
}

@media (max-width: 650px) {
  .ForecastStructure {
    font-size: 14px;
  }
}