.Search {
  max-width: 750px;
  border-radius: 16px;
  margin: 40px auto;
  padding: 25px 25px 5px 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-image: url("../public/flowers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.Search h1 {
  color: #272142;
  font-size: 40px;
  font-weight: 700;
  padding-top: 10px;
}

.Search input {
  padding: 12px 20px;
  border: none;
  background: #ffffcc;
  border-radius: 6px;
  width: 280px;
  font-size: 16px;
  line-height: 20px;
  color: grey;
}

.Search button {
  font-size: 16px;
  line-height: 20px;
  padding: 12px 5px;
  background: #daa520;
  border: #daa520;
}

.Search .padding {
  padding-top: 11px;
}

@media (max-width: 675px) {
  .Search h1 {
    font-size: 30px;
  }

  .Search input {
    width: 185px;
    font-size: 14px;
  }

  .Search button {
    font-size: 14px;
  }
}
