.Weather {
  margin-top: 40px;
}
.Weather h2 {
  font-size: 80px;
  font-weight: 700;
  margin-left: 20px;
  color: #272142;
}

.Weather ul {
  list-style: none;
  padding: 0;
  margin-top: 25px;
  color: #272142;
  font-size: 18px;
  line-height: 28px;
}

.Weather .icon {
  width: 80px;
  margin-top: 30px;
}

.Weather .unit {
  font-size: 25px;
  font-weight: 700;
  position: relative;
  top: 14px;
  margin-left: 5px;
}
